.userMenu{
display: flex;
flex-direction: row;
}
.userTitle{
   margin: 0;
   margin-right: 5px;
}
.logoutBtn{
   background-color: rgb(87, 87, 87);
   color: white;
   padding: 8px;
   border: 1px solid rgb(149, 144, 144);
   border-radius: 4px;
   margin: 0;
   outline: none;
   transition: 250ms;
   cursor:pointer;
}
.logoutBtn:hover{
   background-color: rgb(225, 216, 204);
   color: rgb(57, 55, 55);
   transition: 250ms;
   border: none
}